<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aedvalson.classtracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TermListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name=".DataProvider"
            android:authorities="com.aedvalson.classtracker.dataprovider"
            android:exported="false" />

        <activity
            android:name=".TermEditorActivity"
            android:label="@string/title_activity_term_editor"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TermListActivity" />
        </activity>
        <activity
            android:name=".TermViewerActivity"
            android:label="@string/title_activity_term_viewer"
            android:parentActivityName=".TermListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TermListActivity" />
        </activity>
        <activity
            android:name=".CourseEditorActivity"
            android:label="@string/title_activity_course_editor"
            android:parentActivityName=".TermViewerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aedvalson.classtracker.TermViewerActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CourseListActivity" />
        <activity
            android:name=".CourseViewerActivity"
            android:label="@string/title_activity_course_viewer"
            android:parentActivityName=".CourseListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aedvalson.classtracker.CourseListActivity" />
        </activity>
    </application>

</manifest>